@tailwind base;
@tailwind components;
@tailwind utilities;
::placeholder {
  color: #83aff6 !important;
  font-weight: 600;
}
.custom-select .ant-select-selection-placeholder {
  color: #83aff6 !important;
  font-weight: 600;
}

.PhoneInputInput {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.PhoneInputCountry {
  width: 40% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PhoneInputCountrySelect {
  width: 100% !important;
  appearance: none;
  padding-right: 1.5rem;
  border: none !important;
  outline: none !important;
  background: transparent;
}
.PhoneInputCountrySelectArrow {
  position: absolute;
  right: 10px;
  pointer-events: none;
}
.dark ::placeholder {
  color: #60a5fa;
}
